@model IEnumerable<ProyectoMvcNetCoreAlmacen.Models.Producto>

<section class="features2 cid-sgSyF0EE4Z" id="features2-d">
    <div class="container">
        <h1 class="mbr-section-title mbr-fonts-style mb-0 mbr-bold display-5">Productos del almacén</h1>
        <br />
        <form id="searchForm" class="mb-3" style="width:max-content;">
            <div class="row" style="margin-right:-8px; justify-content: flex-end;">
                <!-- Búsqueda por ID -->
                <div class="col-md-4">
                    <input type="text" id="idproducto" name="idproducto" class="form-control" placeholder="Num artículo" />
                </div>
                <!-- Búsqueda por Marca -->
                <div class="col-md-4">
                    <input type="text" id="marca" name="marca" class="form-control" placeholder="Marca" />
                </div>
                <div class="col-md-4 d-flex" style="gap: 10px;">
                    <button type="button" id="searchBtn" class="btn btn-primary flex-fill">Buscar</button>
                    <a type="button" class="btn btn-primary flex-fill" id="limpiarBtn">Limpiar</a>
                </div>
            </div>
        </form>

        <div id="productos-container">
            @Html.Partial("_ProductosPartial", Model)
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        $(document).ready(function () {
        // Acción del botón "Buscar"
        $('#searchBtn').click(function () {
            var idProducto = $('#idproducto').val();
            var marca = $('#marca').val();
            $.ajax({
                url: '@Url.Action("BuscarProductos", "Productos")',
                type: 'GET',
                data: { idproducto: idProducto, marca: marca },
                success: function (data) {
                    $('#productos-container').html(data);  // Actualiza los productos en la página
                }
            });
        });

        // Acción del botón "Limpiar"
        $('#limpiarBtn').click(function () {
            // Limpiar los campos de búsqueda
            $('#idproducto').val('');
            $('#marca').val('');

            // Hacer una llamada AJAX para mostrar todos los productos sin filtros
            $.ajax({
                url: '@Url.Action("BuscarProductos", "Productos")',
                type: 'GET',
                data: { idproducto: '', marca: '' },  // No se pasan filtros
                success: function (data) {
                    $('#productos-container').html(data);  // Actualiza los productos en la página
                }
            });
        });
    });

</script>
