@{
    var tienda = ViewData["Tienda"] as Tienda;
}

<div class="container-fluid" style="padding-top: 19px;">
@if (tienda != null)
{
    <h2>Bienvenido a la tienda: @tienda.Nombre</h2>

    <!-- Botón para cerrar sesión -->
    <form method="post" asp-action="Logout" asp-controller="Tiendas">
        <button type="submit" class="btn btn-danger">Cerrar sesión</button>
    </form>
}
else
{
    <h2>No has iniciado sesión. Redirigiendo...</h2>
}
</div>