@model ProyectoMvcNetCoreAlmacen.Models.AlertaStock

<section class="features2 cid-sgSyF0EE4Z" id="features2-d">
	<section class="form1 cid-sgSoZHg9Zb features2 cid-sgSyF0EE4Z" id="form1-a features2-d">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-9 block-content">
					<div class="form-block">
						<h4 class="mbr-fonts-style mbr-section-title mbr-fonts-style mbr-bold display-2" style="font-size:50px">Editar alerta</h4>
						<div data-form-type="formoid">
							<form asp-controller="AlertasStocks" asp-action="Edit" method="post" enctype="multipart/form-data" class="mbr-form form-with-styler" data-form-title="Mobirise Form">

								<div class="dragArea form-row">
									<div class="col-md-12  form-group">
										<label asp-for="IdAlertaStock" class="form-control-label mbr-fonts-style mbr-bold display-7"></label>
										<input asp-for="IdAlertaStock" class="form-control input display-7" readonly />
										<span asp-validation-for="IdAlertaStock" class="text-danger"></span>
									</div>
									<div class="col-md-12  form-group">
										<label asp-for="IdProducto" class="form-control-label mbr-fonts-style mbr-bold display-7">Producto</label>
										<select asp-for="IdProducto" asp-items="ViewBag.Productos" class="form-control input display-7">
											<option value="ViewBag.Productos">Seleccione un producto</option>
										</select>
										<span asp-validation-for="IdProducto" class="text-danger"></span>
									</div>
									<input asp-for="IdTienda" class="form-control input display-7" hidden />
									<span asp-validation-for="IdTienda" class="text-danger"></span>

									<div class="col-md-12  form-group">
										<label asp-for="FechaAlerta" class="form-control-label mbr-fonts-style mbr-bold display-7"></label>
										<input asp-for="FechaAlerta" class="form-control input display-7" />
										<span asp-validation-for="FechaAlerta" class="text-danger"></span>
									</div>
									<div class="col-md-12  form-group">
										<label asp-for="Descripcion" class="form-control-label mbr-fonts-style mbr-bold display-7"></label>
										<input asp-for="Descripcion" class="form-control input display-7" />
										<span asp-validation-for="Descripcion" class="text-danger"></span>
									</div>
									<label asp-for="Estado" class="form-control-label mbr-fonts-style mbr-bold display-7" hidden></label>
									<input asp-for="Estado" class="form-control input display-7" hidden />
									<span asp-validation-for="Estado" class="text-danger"></span>
									<div class="col-md-12 input-group-btn"><button type="submit" class="btn btn-form btn-bgr btn-info display-4">Editar alerta</button></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>