@{
	var tiendaId = ViewContext.HttpContext.Session.GetInt32("TiendaId");
	var isLoginPage = ViewContext.RouteData.Values["Action"]?.ToString() == "Login" && ViewContext.RouteData.Values["Controller"]?.ToString() == "Account";
}

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<link rel="shortcut icon" href="https://r.mobirisesite.com/1228755/assets/images/electronicdevice1.png?rnd=1740240563997" type="image/x-icon">
	<meta name="description" content="">
	<title>ProyectoMvcNetCoreAlmacen</title>
	<link rel="stylesheet" href="https://r.mobirisesite.com/1228755/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1740240563993">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1228755/assets/web/assets/mobirise-icons/mobirise-icons.css?rnd=1740240563993">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1228755/assets/tether/tether.min.css?rnd=1740240563993">
	<link rel="stylesheet" href="~/css/additional.css">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1228755/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1740240563993">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1228755/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1740240563993">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1228755/assets/dropdown/css/style.css?rnd=1740240563993">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1228755/assets/socicon/css/styles.css?rnd=1740240563993">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1228755/assets/theme/css/style.css?rnd=1740240563993">
	<link rel="stylesheet" href="https://r.mobirisesite.com/1228755/assets/recaptcha.css?rnd=1740240563993">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
	<link rel="preload" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap&display=swap"></noscript>
	<link rel="stylesheet" href="~/css/estilonav.css" type="text/css">

	<style>
		.dropdown-menu .nav-link:hover {
			box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
			background-color: rgba(0, 0, 0, 0.1); /* Si deseas un pequeño fondo oscuro */
		}
		.dropdown-menu {
			width: 250px; /* O usa min-width: 250px */
		}
		.login-body {
			/* https://img.freepik.com/fotos-premium/vista-interior-almacen_103577-1372.jpg */
			background: url('https://www.scmlogistica.es/wp-content/uploads/tipos-almacenes-mas-habituales-1038x693.jpg') no-repeat center center;
			background-size: cover; /* Para que cubra toda la pantalla */
			background-attachment: fixed; /* Mantener fija la imagen */
		}


		.navbar-fixed-top {
			top: auto;
		}

		#mobirisePromo.container-banner {
			height: 11rem;
			opacity: 1;
			-webkit-animation: 11s linear animationHeight;
			-moz-animation: 11s linear animationHeight;
			-o-animation: 11s linear animationHeight;
			animation: 11s linear animationHeight;
			transition: all 0.5s;
		}

			#mobirisePromo.container-banner.container-banner-closing {
				pointer-events: none;
				height: 0;
				opacity: 0;
				-webkit-animation: 0.5s linear animationClosing;
				-moz-animation: 0.5s linear animationClosing;
				-o-animation: 0.5s linear animationClosing;
				animation: 0.5s linear animationClosing;
			}

		#mobirisePromo .banner {
			min-height: 11rem;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			background: #fff;
			padding: 10px;
			opacity: 1;
			-webkit-animation: 11s linear animationBanner;
			-moz-animation: 11s linear animationBanner;
			-o-animation: 11s linear animationBanner;
			animation: 11s linear animationBanner;
			z-index: 1031;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

			#mobirisePromo .banner p {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				animation: none;
				visibility: visible;
			}

		#mobirisePromo .buy-license {
			text-decoration: underline;
		}

		#mobirisePromo .banner .btn {
			margin: 0.3rem 0.5rem;
			animation: none;
			visibility: visible;
		}

		.navbar.opened {
			z-index: 1032;
		}

		#mobirisePromo .mbr-section-abuse-report {
			margin-top: 0.8rem;
			font-size: 80%;
		}

			#mobirisePromo .mbr-section-abuse-report a {
				color: #aaa;
			}
	</style>
</head>
<body class="@ViewData["BodyClass"]">
	@if (!isLoginPage && tiendaId != null)
	{
		<!-- Si el usuario está logueado, mostramos el layout completo con la barra de navegación -->
		<header>
			<section class="menu cid-sgSlEYA9q5" once="menu" id="menu-0">
				<nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-toggleable-sm">
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</button>
					<div class="menu-logo">
						<div class="navbar-brand">

							<span class="navbar-caption-wrap"><a class="navbar-caption text-white display-5" href="#">Inventario</a></span>
						</div>
					</div>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
							<li class="nav-item">
								<a class="nav-link link mbr-bold text-white display-7" asp-controller="AlertasStocks" asp-action="Calendar">Home </a>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link link mbr-bold text-white display-7" href="#" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="true">
									Productos
								</a>
								<div class="dropdown-menu show" aria-labelledby="dropdown-650" data-bs-popper="none">
									<a class="nav-link link mbr-bold text-white display-7" asp-controller="Productos" asp-action="Index">Productos </a>
									<a class="nav-link link mbr-bold text-white display-7" asp-controller="Productos" asp-action="Create">Añadir productos </a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link link mbr-bold text-white display-7" href="#" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="true">
									Proveedores
								</a>
								<div class="dropdown-menu show" aria-labelledby="dropdown-650" data-bs-popper="none">
									<a class="nav-link link mbr-bold text-white display-7" asp-controller="Proveedores" asp-action="Index">Proveedores </a>
									<a class="nav-link link mbr-bold text-white display-7" asp-controller="Proveedores" asp-action="Create">Añadir proveedores </a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link link mbr-bold text-white display-7" asp-controller="AlertasStocks" asp-action="Create">Añadir alerta </a>
							</li>
							<li class="nav-item">
								<a class="nav-link link mbr-bold text-white display-7" asp-controller="Pedidos" asp-action="Index">Pedidos </a>
							</li>
						</ul>
						<div class="navbar-buttons mbr-section-btn">
							<a class="btn btn-md btn-secondary display-7" asp-controller="Tiendas" asp-action="Index">Perfil tienda</a>
						</div>
					</div>
				</nav>
			</section>
		</header>
	}

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>


	<script src="https://r.mobirisesite.com/1228755/assets/web/assets/jquery/jquery.min.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/popper/popper.min.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/tether/tether.min.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/bootstrap/js/bootstrap.min.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/smoothscroll/smooth-scroll.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/dropdown/js/nav-dropdown.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/dropdown/js/navbar-dropdown.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/touchswipe/jquery.touch-swipe.min.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/mbr-clients-slider/mbr-clients-slider.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/mbr-testimonials-slider/mbr-testimonials-slider.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/playervimeo/vimeo_player.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/theme/js/script.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/pauseVideo/script.js?rnd=1740240563993"></script>
	<script src="https://r.mobirisesite.com/1228755/assets/formoid.min.js?rnd=1740240563993"></script>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
	<script src="https://r.mobirisesite.com/1228853/assets/web/assets/jquery/jquery.min.js?rnd=1741923534718"></script>
	<script src="https://r.mobirisesite.com/1228853/assets/bootstrap/js/bootstrap.bundle.min.js?rnd=1741923534718"></script>
	<script src="https://r.mobirisesite.com/1228853/assets/smoothscroll/smooth-scroll.js?rnd=1741923534718"></script>
	<script src="https://r.mobirisesite.com/1228853/assets/ytplayer/index.js?rnd=1741923534718"></script>
	<script src="https://r.mobirisesite.com/1228853/assets/dropdown/js/navbar-dropdown.js?rnd=1741923534718"></script>
	<script src="https://r.mobirisesite.com/1228853/assets/theme/js/script.js?rnd=1741923534718"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
</body>
</html>


